
$font-family: 'Roboto', sans-serif;
$background-color: #F5F5F5;
$primary-color: rgb(17, 117, 162, 53%);
$secondary-color: rgba(255, 255, 255, 0.53);
$white-color: white;
$gray-light-color:#E6ECF0;
$green-color: #61BD4F;
$orange-color:#FFAB4A;
$yellow-color:yellow;
$red-color: red;
$text-color: #172B4D;
$tag-bg-color: #E6ECF0;
$tag-text-color: #172B4D;
$tag-size: 15px;
$tag-border-radius: 50px;
$tag-padding: 5px;
$tag-width: 10%;